@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
font-family: 'Poppins', sans-serif;
  min-height: 400px;
  background-image: url("https://media.istockphoto.com/photos/close-up-top-view-white-calculator-on-yellow-background-with-for-picture-id1159599930?k=20&m=1159599930&s=612x612&w=0&h=Gg53FYTGlMJCc7wni3vvGBMqYi3Gm-MOOWiKCzdavtk=");
  background-color: #CD5C5C;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color:#ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color:#ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 150px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.bota-notas {
  text-align: center;
  padding: 20px;
  color: #ffffff;
  margin: 20px;
  top: 200px;
}

.bota-notas input {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

.bota-notas button {
  border: 0;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.3s;
}